@import "../../scss/index.scss";

.top-bar {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
  z-index: 1;

  &__left {
    i {
      font-size: 10px !important;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__right {
    align-items: center;
    display: flex;
    a {
      align-items: center;
      color: $font-light;
      display: flex;
      margin-right: 20px;
      &:hover {
        color: $primary-color;
      }
    }
    img {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      border-radius: 50px;
    }
    i {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
