@import "../../../scss/index.scss";

.banner-artist {
  position: relative;
  top: -60px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;

  &__gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 40%,
      $bg-grey-dark-light 100%
    );
  }

  &__info {
    z-index: 1;
    margin: 0 0 70px 70px;

    h4 {
      margin-bottom: 0;
      font-size: 18px;
      font-weight: normal;
      text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 2px 0 0 $bg-grey-light;
    }

    h1 {
      font-size: 80px;
      margin-bottom: 0px;
      text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 5px 0 0 $bg-grey-light;
    }
  }
}
